{% extends "base.html" %}

{% block content %}
<style>
    .btn-lg-custom {
        flex: 1;
        margin: 5px;
        padding: 20px;
        font-size: 1.5rem;
    }
    .btn-container {
        display: flex;
        justify-content: center;
    }
</style>

<div class="questions-container">
    <h1 class="text-center">Responde las siguientes preguntas</h1>
    
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ (preguntas_respuestas / total_preguntas) * 100 }}%;" aria-valuenow="{{ preguntas_respuestas }}" aria-valuemin="0" aria-valuemax="{{ total_preguntas }}">
            {{ preguntas_respuestas }} de {{ total_preguntas }} preguntas respondidas
        </div>
    </div>

    <p class="text-center mt-3">Preguntas pendientes: {{ preguntas_pendientes }}</p>

    <form method="post" action="/questions">
        <div class="question text-center">
            <!-- Centrar la pregunta -->
            <h3>{{ pregunta[1] }}</h3>
        </div>
        
        <!-- Botones de respuesta -->
        <div class="btn-container mt-4">
            <button type="submit" name="respuesta" value="NO" class="btn btn-danger btn-lg btn-lg-custom">NO</button>
            <button type="submit" name="respuesta" value="TAL VEZ" class="btn btn-warning btn-lg btn-lg-custom">TAL VEZ</button>
            <button type="submit" name="respuesta" value="SÍ" class="btn btn-success btn-lg btn-lg-custom">SÍ</button>
        </div>
    </form>
</div>
{% endblock %}